// :not(pre) > code
.vp-doc :not(pre) > code {
  color: #558eda;
  background-color: rgba(188, 188, 188, 0.2);
}
.vp-doc a {
  text-decoration: none;
  color: #3ba072;
}
.vp-doc a:hover {
  text-decoration: underline;
  color: #3ba072;
}
// .vp-doc [class*='language-'] pre {
//   background: #1E1E1E;
// }
// div[class*=language-] {
//   background: #1E1E1E;
// }

@font-face {
	font-family: "AaManYuShouXieTi";
	src: url("../../public/fonts/AaManYuShouXieTi3.ttf") format("truetype");
}

.custom-font-page .vp-doc {
	font-family: "AaManYuShouXieTi" !important;
}
