:not(pre) > code {
  color: #558eda;
  background-color: rgba(188, 188, 188, 0.2);
}

div[class*=language-] {
  background: #1E1E1E;
}

@font-face {
	font-family: "AaManYuShouXieTi";
	src: url("../../public/fonts/AaManYuShouXieTi3.ttf") format("truetype");
}

.custom-font-page .vp-page {
	font-family: "AaManYuShouXieTi" !important;
}
